<div class="pure-g navbar h-box">
    {% if navbar_search %}
        <div class="pure-u-1 pure-u-md-4-24">
            <a href="/" class="index-link pure-menu-heading">Invidious</a>
        </div>
        <div class="pure-u-1 pure-u-md-12-24 searchbar">
            {% include "components/search_box.html" %}
        </div>
    {% endif %}

    <div class="pure-u-1 pure-u-md-8-24 user-field">
        {% if user %}
            <div class="pure-u-1-4">
                <a id="toggle_theme" href="/toggle_theme?referer={{ current_page }}" class="pure-menu-heading" title="Toggle theme">
                    {% if dark_mode == "dark" %}
                        <i class="icon ion-ios-sunny"></i>
                    {% else %}
                        <i class="icon ion-ios-moon"></i>
                    {% endif %}
                </a>
            </div>
            <div class="pure-u-1-4">
                <a id="notification_ticker" title="Subscriptions" href="/feed/subscriptions" class="pure-menu-heading">
                    {% if notification_count > 0 %}
                        <span id="notification_count">{{ notification_count }}</span> <i class="icon ion-ios-notifications"></i>
                    {% else %}
                        <i class="icon ion-ios-notifications-outline"></i>
                    {% endif %}
                </a>
            </div>
            <div class="pure-u-1-4">
                <a title="Preferences" href="/preferences?referer={{ current_page }}" class="pure-menu-heading">
                    <i class="icon ion-ios-cog"></i>
                </a>
            </div>
            {% if show_nick %}
                <div class="pure-u-1-4" style="overflow: hidden; white-space: nowrap;">
                    <span id="user_name">{{ user_email }}</span>
                </div>
            {% endif %}
            <div class="pure-u-1-4">
                <form action="/signout?referer={{ current_page }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <a class="pure-menu-heading" href="#">
                        <input style="all:unset" type="submit" value="Log out">
                    </a>
                </form>
            </div>
        {% else %}
            <div class="pure-u-1-3">
                <a id="toggle_theme" href="/toggle_theme?referer={{ current_page }}" class="pure-menu-heading" title="Toggle theme">
                    {% if dark_mode == "dark" %}
                        <i class="icon ion-ios-sunny"></i>
                    {% else %}
                        <i class="icon ion-ios-moon"></i>
                    {% endif %}
                </a>
            </div>
            <div class="pure-u-1-3">
                <a title="Preferences" href="/preferences?referer={{ current_page }}" class="pure-menu-heading">
                    <i class="icon ion-ios-cog"></i>
                </a>
            </div>
            {% if login_enabled %}
                <div class="pure-u-1-3">
                    <a href="/login?referer={{ current_page }}" class="pure-menu-heading">
                        Log in
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
