{% extends "base.html" %}

{% block header %}
<meta name="description" content="An alternative front-end to YouTube">
<title>{% if page_title %}{{ page_title }} - Invidious{% else %}Trending - Invidious{% endif %}</title>
{% endblock header %}

{% block content %}
<div class="pure-g h-box">
    <div style="align-self:flex-end" class="pure-u-2-3">
        {% if playlist_id %}
            <a href="/playlist?list={{ playlist_id }}">View as playlist</a>
        {% endif %}
    </div>
    <div class="pure-u-1-3">
        <div class="pure-g" style="text-align:right">
            <div class="pure-u-1 pure-md-1-3">
                {% if trending_type == "default" %}
                    <b>Trending</b>
                {% else %}
                    <a href="/feed/trending?type=default">Trending</a>
                {% endif %}
            </div>
            <div class="pure-u-1 pure-md-1-3">
                {% if trending_type == "Livestreams" %}
                    <b>Livestreams</b>
                {% else %}
                    <a href="/feed/trending?type=Livestreams">Livestreams</a>
                {% endif %}
            </div>
            <div class="pure-u-1 pure-md-1-3">
                {% if trending_type == "Gaming" %}
                    <b>Gaming</b>
                {% else %}
                    <a href="/feed/trending?type=Gaming">Gaming</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="h-box">
    <hr>
</div>

<div class="pure-g">
    {% for video in videos %}
        {% include "components/video_item.html" %}
    {% endfor %}
</div>
{% endblock content %}
